.vscode
# npm
node_modules
# next.js build files
.next
# environment variables
.env
.env.*
!.env.sample
# eslint
.eslintcache
# yarn error log
yarn-error.log
# DS _store
.DS_Store

# Terraform

# .tfstate files
*.tfstate
*.tfstate.*

# logs
*.log

# vars
*.tfvars

# Directories
**/.terraform/*

# lambda
*.zip
!requirements.txt
**/cronMailing/*
!**/cronMailing/*.py
